.container{
    text-align: center;
}

#project {
    height: 175px;
    width: 325px;
    margin-left: 50px;
    background-color: ghostwhite;
    margin-top: 25px;
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    margin-bottom: 25px;
}

#project:hover {
    background-color: #ddd;
}

.projects-container {
    margin-top: 50px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background-color: burlywood;
}

a {
    color: black;
}
